{# ==========================================================================

   Mega Menu Sm

   ==========================================================================

   Description:

   Creates a small screen mega menu primary navigation menu.

   ========================================================================== #}
<nav class="{{ base_class }}
            u-hidden"
     data-js-hook="behavior_flyout-menu"
     aria-label="main navigation"
     role="navigation">
    <button class="{{ base_class ~ '_trigger' }}"
            data-js-hook="behavior_flyout-menu_trigger"
            aria-pressed="false">
        <span class="u-visually-hidden">Menu</span>
    </button>
    {# Create a root menu at depth one.
       This is the 1st level of a 3-level menu. #}
    {{ _nav( 1, vars.nav_items ) }}
    <button class="{{ base_class ~ '_tab-trigger' }}" aria-hidden="true"></button>
</nav>
